@Model IEnumerable<IPNuty.Models.SheetMusic>

                      <div>@ViewBag.id</div>

<table>
    <tr>
        <td>Autor</td>
        <td>Tytuł</td>
        <td>Rodzaj</td>
        <td>Czy posiadane</td>
        <td>Dodaj/usuń</td>
    </tr
    

    @foreach (var item in Model.allSheetMusicList) //dla wszystkich dostępnych nut w bazie
    {
        <tr>
            <td>@item.Author</td>
            <td>@item.Title</td>
            <td>...</td>
            @* Sprawdzenie, czy osoba posiada te nuty *@
            <td>tak/nie</td>
            @* if posiada - usuń, if nie posiada - dodaj *@
            <td><button>Usuń nuty</button></td>
        </tr>
    }
</table>

