
@{
    ViewBag.Title = "Home";
}

<h2>Witaj!</h2>
<div>
    <p>po zalogowaniu przekeiruje na home, po wylogowaniu na stronę logowania</p>
    <p>wymaga odpowiedniego połaczenia metod z przyciskami, by wykonywały coś mądrego</p>
</div>
