
@{
    ViewBag.Title = "RemoveSM";
}

<h2>Usuń nuty</h2>
<div>
    @*@Html.Raw(TempData["msg"])*@

    Z bazy chóru usunięto nuty: <p>@ViewBag.Message</p>

    @Html.ActionLink("Wróć do bazy nut", "SheetMusicListAcctualization")

</div>

