@model IPNuty.ViewModels.Admin.SingersSheetMusicListAcctualizationViewModel

@{
    ViewBag.Title = "Lista nut osoby XYZ";
    ViewBag.Singer = this.Model;
}

<h2>Lista nut osoby XYZ</h2>
<p>
    Wyświetlamy całą bazę nut. Najpierw są wyświetlane nuty posiadane, później te nieposiadane. Istnieje możliwość dodawania nut do użytkownika i usuwania ich.<br />
    Trzeba dostać się do danych tej jednej konkretnej osoby - jak to zrobić?
</p>

<div>
   
    @Html.Partial("_SingersSheetMusicListAcctualization")

</div>

