<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Styles/Site.css")" rel="stylesheet"
          type="text/css" />
</head>
<body>
    <div id="header">
        <h1><a href="/">FRESCO</a></h1>
        <ul id="navlist">
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li><a href="/Account/Login/">Wyloguj</a></li>
                <li><a href="/Admin/SingerListAcctualization/">Lista chórzystów</a></li>
                <li><a href="/Admin/SheetMusicListAcctualization/">Baza nut</a></li>
                <li><a href="/Admin/Order/">Zamówienia</a></li>
            }
            else if (Request.IsAuthenticated && User.IsInRole("Singer"))
            {
                <li><a href="/Account/Login/">Wyloguj</a></li>
                <li><a href="/Singer/SheetMusicList/">Baza nut</a></li>
                <li><a href="/Singer/Order/">Zamówienia</a></li>
            }
            else
            {
                <li><a href="/Account/Login/">Zaloguj</a></li>
            }
        </ul>
    </div>


    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year - Chór Fresco - Tarnowskie Góry
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>