
@{
    ViewBag.Title = "Home";
}

<h2>Witaj!</h2>
<p>
    Pamiętaj o tym, aby Twoja lista nut była zawsze aktualna. Możesz to zmienić
    <input type="button" value="tutaj" onclick="location.href='@Url.Action("SheetMusicList")'" />
</p>

