@*@model IPNuty.ViewModels.Singers.SheetMusicListAcctualizationViewModel*@
@model    IEnumerable<IPNuty.Models.SheetMusic>
@{
    ViewBag.Title = "Baza nut chóru";
}
<h2>Twoje posiadane nuty</h2>
<div>
    <table>
        <tr>
            <td>Autor</td>
            <td>Tytuł</td>
            <td>Rodzaj</td>
            <td>Czy posiadane</td>
            <td>Akcja</td>
        </tr>
        @foreach (var item in Model)
         {
            <tr>
                <td>@item.Author</td>
                <td>@item.Title</td>
                <td>@item.Type</td>


                @if (item.SingerID!=null && item.SingerID.Name+ item.SingerID.LastName == User.Identity.Name)
                {
                    <td>Tak</td>
                    <td>Usuń nuty/Zamów nuty/@Html.ActionLink("Nie posiadane", "SubtractSheetMusicFromSinger", item)</td>
                }
                else
                {
                    <td>Nie</td>
                    <td>Usuń nuty/@Html.ActionLink("Zamów nuty", "OrderSheetMusic", item)/@Html.ActionLink("Posiadane", "AddNewSheetMusicToSinger", item)</td>
                }
                
            </tr>
         }
    </table>
    <h2>Jeśli nuty są posiadane to można je usunąć z listy, jeśli są nie w posiadaniu to można je zamówić - wtedy trafiają na listę zamówień</h2>
</div>

